.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.bTop {
    border-top: 0;
}
.bLeft {
    border-left: 0;
}
.bRight {
    border-right: 0;
}
.bBottom {
    border-bottom: 0;
}

.topLRadius {
    border-top-left-radius: 20px;
}

.topRRadius {
    border-top-right-radius: 20px;
}

.bottomLRadius {
    border-bottom-left-radius: 20px;
}

.bottomRRadius {
    border-bottom-right-radius: 20px;
}

.notdisplay {
    display: none;
}